.chart-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
};

.legend-item {
  padding-left: 3rem;
  padding-right: 3rem;
};

.legend-item-spending {
  padding-top: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.legend-item-small {
  padding-left: .5rem;
  padding-right: .5rem;
}

.legend-item-small-spending {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 4px;
}

.chart-legend-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

/* mobile/phone */
@media (max-width: 576px) {
  .legend-item-small {
    margin: 0;
  }
  .legend-item-small-spending {
    margin: 0;
  }
}
