@import "../../styles/variables";

.scroll-to-top-container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin-right: calc(100% - 100vw);
  bottom: 52px;
  right: 27px;
  z-index: 1000;
}

.scroll-to-top-button {
  background-color: $ltGrey !important;

  span {
    color: #fff;
  }
}

.scroll-to-top-button:hover {
  background-color: #ddd !important;
}

@media screen and (max-width: $desktop-xl - 1) {
  .scroll-to-top-container {
    bottom: 12px;
  }
}
