@import "../../../../styles/variables.scss";

$chartBorder: 1px solid #ddd;
$labelWidth: 11.5rem;
$mobileLabelWidth: 28%;
$budgetWidth: 5.5rem;
$mobileBudgetWidth: 22%;
$lightBackground: #fafafa;

svg {
  .outlayBar {
    fill: #331e4d;
  }

  .obligatedBar {
    fill: $covidPurple;
  }

  .unobligatedBar {
    fill: #f3e9ff;
  }
}

.totalBar {
  background-color: $lightBackground;
  border-bottom: $chartBorder;

  .sideLabel,
  .sideBudget,
  .totalBarSideLabel {
    color: $covidPurple;
  }
}

.totalBarBudgetLabel {
  font-weight: $bold;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;

  &:hover {
    .sideLabel,
    .sideBudget,
    .totalBarSideLabel {
      font-weight: $bold;
    }

    :not .totalBar {
      cursor: pointer;
    }
  }

  .topPad {
    padding-top: 1rem;
  }

  .sideLabel {
    flex-basis: $labelWidth;
    min-width: $labelWidth;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .totalBarSideLabel {
    flex-basis: $labelWidth;
    min-width: $labelWidth;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .totalBarLabel {
      font-weight: $bold;
      font-size: 14px;
    }
  }

  .barContainer {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;

    background-image: linear-gradient(
      to right,
      transparent,
      transparent 24.8%,
      $background-gray-warm-light 24.8%,
      $background-gray-warm-light 25%,
      transparent 25%,
      transparent 49.8%,
      $background-gray-warm-light 49.8%,
      $background-gray-warm-light 50%,
      transparent 50%,
      transparent 74.8%,
      $background-gray-warm-light 74.8%,
      $background-gray-warm-light 75%,
      transparent 75%
    );

    .bar {
      position: relative;
      width: 100%;

      &.barBorder {
        border-left: $chartBorder;
        border-right: $chartBorder;
      }

      &.firstBar {
        border-top: $chartBorder;
      }

      &.lastBar {
        border-bottom: $chartBorder;
        padding-bottom: 1rem;
      }

      .callout {
        position: absolute;
        width: 100%;
      }

      .barLabels {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        white-space: nowrap;
        margin: 0 0.25rem;

        .outlayLabel {
          min-width: 5.5rem;
          text-align: left;
        }

        .obligatedLabel {
          min-width: 6.5rem;
          text-align: center;
        }

        .unobligatedLabel {
          min-width: 7.5rem;
          text-align: right;
        }
      }
    }
  }

  .sideBudget {
    flex-basis: $budgetWidth;
    padding-left: 0.5rem;
    white-space: nowrap;
  }

  .sideBudgetTotal {
    font-style: italic;
    font-size: 12px;
  }
}


g.connector {
  rect {
    fill-opacity: 0.5;
  }
}

@media screen and (max-width: $desktop - 1) {
  .sideLabel {
    text-decoration: underline;
    cursor: pointer;
  }
}


@media screen and (max-width: $tablet - 1) {
  .sideLabel,
  .totalBarSideLabel {
    flex-basis: $mobileLabelWidth !important;
    min-width: $mobileLabelWidth !important;
    padding-right: 0.5rem;
  }

  .sideBudget {
    flex-basis: $mobileBudgetWidth !important;
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}
