@import "../../styles/variables.scss";

$mdGrey: #555555;

#TOC {
  .number {
    color: $font-body-copy;
    font-size: 2rem;
    font-weight: 600;
    line-height: 50px;
    margin: 0.1rem 0 0.3rem;
    text-align: left;
  }
  .subblurb {
    color: $font-title;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    // max-width: 200px;
    line-height: 17px;
    text-align: left;
    margin-top: 10px;
  }
  .section {
    color: $font-title;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: left;
    margin-top: 14px;
  }
  .blurb {
    color: $mdGrey;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
  }

  .new-flag-container {
    display: flex;
    align-items: center;
    height: 40px;

    .new-flag {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #fff;
      background-color: $legacyBlue;
      text-transform: uppercase;
      font-weight: bold;
  
      &:before {
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        width: 0;
      }
    }
  }

  .coming-soon {
    display: flex;
    align-items: flex-end;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: black;
  }

  .legacy-anchor:hover {
    color: $legacyBlue;
    .a {
      color: $legacyBlue !important;
      text-decoration: underline;
    }
  }

  .colleges-and-universities-anchor:hover {
    color: $cuRed;
    .a {
      color: $cuRed !important;
      text-decoration: underline;
    }
  }

  .federal-covid-funding-anchor:hover {
    color: $covidPurple;
    .a {
      color: $covidPurple !important;
      text-decoration: underline;
    }
  }

  .homelessness-analysis-anchor:hover {
    color: $homelessAnalysisPurple;
    .a {
      color: $homelessAnalysisPurple !important;
      text-decoration: underline;
    }
  }
  
  .legacy-section {
    color: $legacyBlue;
  }
  
  .colleges-and-universities-section {
    color: $cuRed;
  }
  
  .federal-covid-funding-section {
    color: $covidPurple;
  }
  
  .homelessness-analysis-section {
    color: $homelessAnalysisPurple;
  }

  .faded {
    opacity: 0.7;
    
    &:not(.number) {
      font-style: italic;
      font-weight: 400;
    }
  }
}



@media (min-width: $desktop) {
  #TOC {
    margin-top: $margin-75;
    margin-bottom: $margin-100;

    .content {
      flex-direction: column;
    }

    .container {
      justify-content: space-around;
    }

    .tile:not(:last-child) {
      border-right: 1px solid $light-grey-border;
    }
    .tile {
      padding: 1rem 1.5rem;
    }

    .a {
      margin-top: 10px;
    }

    .new-flag-container {
      width: 100%;

      .new-flag {
        height: 30px;
        width: 44px;
        font-size: 1rem;

        &::before {
          border-top: 12px solid $legacyBlue;
          border-left: 22px solid transparent;
          border-right: 22px solid transparent;
          top: 30px;
        }
      }
    }
  }
}

@media (max-width: $desktop - 1) {
  .new-flag {
    height: 25px;
    width: 36px;

    &::before {
      border-top: 8px solid $legacyBlue;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      top: 25px;
    }
  }

  .coming-soon {
    align-items: center;
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  #TOC {
    margin-top: $margin-30;
    margin-bottom: $margin-100;

    .number-container {
      flex-direction: column;

      * {
        margin: 0;
      }
    }

    .content {
      flex-direction: column;
    }

    .a {
      max-width: 250px;
    }

    .tile {
      min-height: 50%;

      &:nth-child(even) {
        .link-container {
          flex-direction: row-reverse;
        }
      }

      &:last-child {
        border-right: none;
      }

      .link-container {
        display: flex;
        height: 100%;

        .content {
          padding-bottom: 1.875rem;
        }

        .bottom-border {
          border-bottom: $light-grey-border solid 1px;
        }

        .side-border {
          border-right: 1px solid $light-grey-border;
        }

        .top-padding {
          padding-top: 20px;
        }

        .tablet-divider {
          width: 15px;
        }
      }
    }

    .new-flag-container {
      align-items: flex-start;
    }
  }
}

@media (max-width: $tablet - 1) {
  #TOC {
    .a {
      display: flex;
      flex-grow: 1;
    }
    .tile {
      border-right: unset;
      border-bottom: $light-grey-border solid 1px;
      padding-bottom: 32px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (max-width: $tablet - 1) {
  #TOC {
    margin-bottom: $margin-25;
    margin-top: $margin-25;

    .content {
      margin-bottom: 10px;
    }

    .tile {
      padding: 0;
      border: none;
    }
    .subblurb {
      display: none;
    }
    .number {
      font-size: 1.5rem;
      line-height: 3.125rem;
      margin: 0;
      max-width: 40px;
      min-width: 40px;
    }
    .section {
      margin: auto 0;
    }
    .blurb {
      text-transform: uppercase;
    }

    .new-flag-container {
      height: 50px;
      align-items: center;
      
      .new-flag {
        width: 36px;
        margin-right: 14px;
      }

      .coming-soon  {
        height: 22px;
      }
    }
  }
}
