@import "../../styles/variables.scss";

$mdGrey: #555555;

#TOC {
  .number {
    color: $font-body-copy;
    font-size: 2rem;
    font-weight: 600;
    line-height: 50px;
    margin: 0.1rem 0 0.3rem;
    text-align: left;
  }
  .subblurb {
    color: $font-title;
    font-size: 1rem;
    text-transform: uppercase;
    // max-width: 200px;
    line-height: 17px;
    text-align: left;
    margin-top: 10px;
  }
  .section {
    color: $font-title;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: left;
    margin-top: 14px;
  }
  .blurb {
    color: $mdGrey;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
  }

  .legacy-anchor:hover {
    color: $legacyBlue;
    * {
      color: $legacyBlue !important;
      text-decoration: underline;
    }
  }

  .colleges-and-universities-anchor:hover {
    color: $cuRed;
    * {
      color: $cuRed !important;
      text-decoration: underline;
    }
  }

  .federal-covid-spending-anchor:hover {
    color: $covidPurple;
    * {
      color: $covidPurple !important;
      text-decoration: underline;
    }
  }

  .homelessness-analysis-anchor:hover {
    color: $homelessAnalysisPurple;
    * {
      color: $homelessAnalysisPurple !important;
      text-decoration: underline;
    }
  }
  
  .legacy-section {
    color: $legacyBlue;
  }
  
  .colleges-and-universities-section {
    color: $cuRed;
  }
  
  .federal-covid-spending-section {
    color: $covidPurple;
  }
  
  .homelessness-analysis-section {
    color: $homelessAnalysisPurple;
  }
}



@media (min-width: $desktop) {
  #TOC {
    margin-top: $margin-75;
    margin-bottom: $margin-100;

    .container {
      justify-content: space-around;
    }

    .tile:not(:last-child) {
      border-right: 1px solid $font-lightGrey;
    }
    .tile {
      padding: 1rem 1.5rem;
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  #TOC {
    margin-top: $margin-30;
    margin-bottom: $margin-100;

    .number {
      margin-right: 1rem;
    }
    .a {
      max-width: 250px;
    }
    .tile {
      padding-top: 1rem;

      &:nth-child(odd) {
        border-right: 1px solid $font-lightGrey;
      }
      &:last-child {
        border-right: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: $font-lightGrey solid 1px;
        padding-bottom: 32px;
      }
    }
  }
}

@media (max-width: $tablet - 1) {
  #TOC {
    .a {
      width: 100%;
    }
    .tile {
      border-right: unset;
      border-bottom: $font-lightGrey solid 1px;
      padding-bottom: 32px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (max-width: $tablet - 1) {
  #TOC {
    margin-bottom: $margin-25;
    margin-top: $margin-25;

    .tile {
      padding: 0;
      border: none;
    }
    .subblurb {
      display: none;
    }
    .number {
      font-size: 1.5rem;
      line-height: 3.125rem;
      margin: 0;
    }
    .section {
      margin: auto 0;
    }
    .blurb {
      text-transform: uppercase;
    }
  }
}
