@import '../../../styles/variables.scss';

.storySection:not(.firstSection) {
  margin-top: 100px;
}

.firstSection {
  margin-top: 0;
}

.alignLeft {
  text-align: left;
}

.alignLeft h1 {
  text-align: left;
}

@media (min-width: $desktop-xl){
  .storySection:not(.firstSection) {
    margin-top: 50px;
  }
}

@media (max-width: $phone - 1){
  .storySection:not(.firstSection) {
    margin-top: 35px;
  }
}
