@import '../../../styles/afg/colors';
@import 'bpVars';
@import '../../../styles/afg/generalVars';

.deficit-debt-heading {
    background: url('/americas-finance-guide/images/deficit_debt_image.png') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 35px 15px 0;
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.deficit-debt-heading__arrow-container {
    text-align: center;
    margin-top: 15px;
    font-size: 1.875rem;

    a {
        color:$text-color-paragraph;
    }

    i {
        text-align: center;
        font-size: 2em;
    }
}

.deficit-debt-heading__heading {
    font-size: 2.5rem;
    font-weight: 300;
    background: #fff;
    color: #555;
    margin: 0 auto;
    max-width: 1000px;
    padding: 25px 30px;
    line-height: normal;

    strong, span {
        font-weight: $heavyBoldWeight;
        font-size: 2.5rem;
    }
}

.chapter__divider--text-deficit {
    color: $color-deficit-primary;
}

.chapter__divider--text-debt {
    color: $color-debt-primary;
}

@media only screen and (min-width: 800px) {
    .deficit-debt-heading {
        padding: 65px 250px 15px;
    }
}
