@import "src/styles/variables.scss";

$labelWidth: 11.5rem;
$budgetWidth: 4rem;

.container {
  display: flex;
  justify-content: space-between;

  .sideLabel {
    flex-basis: $labelWidth;
    padding-right: 0.5rem;
  }

  .barContainer {
    display: flex;
    flex-flow: row wrap;

    // & > * {
    //   padding-top: 1rem;
    // }

    .bar {
      border-left: 1px solid;
      border-right: 1px solid;

      // &:nth-child(2) {
      //   border-top: $chartBorder;
      // }

      // &:nth-last-child(2) {
      //   border-bottom: $chartBorder;
      //   padding-bottom: 1rem;
      // }

      .outlayBar {
        display: inline-block;
        background: darken($covidColor, 50%);
      }

      .obligatedBar {
        display: inline-block;
        background: $covidColor;
      }

      .unobligatedBar {
        display: inline-block;
        background: lighten($covidColor, 50%);
      }

      .barLabels {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        white-space: nowrap;
        margin: 0 0.25rem;

        .outlayLabel {
          min-width: 5.5rem;
          text-align: left;
        }

        .obligatedLabel {
          min-width: 6.5rem;
          text-align: center;
        }

        .unobligatedLabel {
          min-width: 7.5rem;
          text-align: right;
        }
      }
    }
  }
  
  .sideBudget {
    flex-basis: $budgetWidth;
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-xl) {
  .bar {
    flex-basis: calc(
      950px - 1px - #{$labelWidth} - #{$budgetWidth}
    ); // "-1" is for Edge, no clue why container falls short
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl - 1) {
  .bar {
    flex-basis: calc(#{$desktop-mcw} - #{$labelWidth} - #{$budgetWidth});
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .bar {
    flex-basis: calc(#{$tablet-mcw} - #{$labelWidth} - #{$budgetWidth});
  }
}

@media (max-width: $tablet - 1) {
  .bar {
    flex-basis: calc(100% - #{$labelWidth} - #{$budgetWidth});
  }
}
