$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #122e51;
$primary-grey: #4a4a4a;
$primary-base: #212121;
$primary-alt: #00bfe7;

$secondary: #e21c3d;

$darkGrey: #666;
$ltGrey: #ccc;
$background-grey-dark: #323a44;
$background-gray: #5b616b;
$background-gray-warm-dark: #494440;
$background-gray-warm-light: #e4e2e0;

$specialState-focus: #3d94d0;
$specialState-active: #4c2c92;
$specialState-highlight: #f2b733;
$specialState-previous: #80b6f6;

$font-white: #ffffff;
$font-black: #000000;
$font-lightGrey: #eee;
$font-title: #555555;
$font-body-copy: $darkGrey;

$light-grey-border: #ddd;

// C&U
$radial-legend: #999;
$font-legend-label: #ddd;
$cuRed: #881e3d;

// Opioids
$opioidOrange: #FC5A20;

// Legacy Blue - (Budget Function, Fed Acct Explorer, Contract Explorer, Competition in Contracting, Homelessness, Federal Employees)
$legacyBlue: #2272CE;

// DL Express
$dlExpressBlue: #1302D9;

// R & D
$rdBlue: #1302D9;
$rdMdBlue: #002aff;

// Analyst Guide
$analystGuideBlue: #00C3C2;

// Student Innovators Toolbox
$studentToolboxBlue: #B2D7FF;

// Covid-19
$covidPurple: #6f41a7;

// Homelessness
$homelessAnalysisPurple: #544E89;

// DTS
$dtsTeal: #00CCCC;

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
$xs: 0;

/*
 * mcw = max container width.
 */
$desktop-xl: 1200px;
$desktop-xl-mcw: 1140px;
$desktop: 992px;
$desktop-mcw: 960px;
$tablet: 768px;
$tablet-mcw: 720px;
$phone: 576px;
$tablet-portrait-mcw: 540px;
$min: 0px;

$margin-150: 150px;
$margin-100: 100px;
$margin-75: 75px;
$margin-50: 50px;
$margin-45: 45px;
$margin-30: 30px;
$margin-25: 25px;
$margin-20: 20px;
$margin-15: 15px;
$margin-10: 10px;

$bold: 700;
$semibold: 600;
$regular: 400;
$light: 200;

:export {
  xl: $xl;
  lg: $lg;
  md: $md;
  sm: $sm;
  xs: $xs;
  cuRed: $cuRed;
  opioidOrange: $opioidOrange;
  legacyBlue: $legacyBlue;
  dlExpressBlue: $dlExpressBlue;
  rdBlue: $rdBlue;
  analystGuideBlue: $analystGuideBlue;
  studentToolboxBlue: $studentToolboxBlue;
  rdMdBlue: $rdMdBlue;
  covidColor: $covidPurple;
  homelessAnalysisPurple: $homelessAnalysisPurple;
  dtsTeal: $dtsTeal;
}
