.mainHeading {
  margin-top: 0;
  color: #555;
}

@media screen and (min-width: 960px) {
  .debtCopy {
    display: block;
  }

  .debtCopyMobile, .mobileHeading, .mobileCopy {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .debtCopy {
    display: none;
  }

  .debtCopyMobile {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: #555555;
    border-top: 1px solid #ddd;
    margin: 15px 0 25px 0 !important;

    p {
      margin-top: 25px;
    }
  }

  .mobileHeading {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #555555;
  }

  .mainMobileCopy {
    margin: 25px 0;
  }

  .mobileCopy {
    margin-top: 27px;
    padding: 15px 0;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    color: #555;

    .mobileCopyHeading {
      margin: 0 0 10px;
      font-weight: 600;
    }
    
    .mobileCopySubheading {
      margin: 0;
      font-size: 0.875rem;
    }
    
    .mobileCopyGdpLine {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0;
      font-size: 0.875rem;
      font-weight: 600;

      button {
        height: 15px;
      }
    }
  }

}