@import '../../styles/variables.scss';

#analyst-guide-page {
  .accordion-container{
    margin-bottom: $margin-15;
    * a {
      color: blue;
    }

    .ul-no-margin {
      margin: 0;
    }

    ul li ul li {
      list-style-type: circle;
    }

    ul li ul li ul li {
      list-style-type: square;
    }
  }
}

.accordion-title-div {
  display: inline-block;
  padding-right: 5px;
  font-size: 1rem;
  color: $font-black;
}

.bold {
  font-weight: 600;
}

.download * div {
  text-align: center;
}

div.container-no-flex {
  display: inline-block;
  div {
    word-break: break-word;
  }
}

.hero-image-container {
  display: flex;
  margin: 0 auto;

  .hero-image {
    object-fit: cover;
  }

  .hero-image-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2272ce;

    h1 {
      color: #fff;
      font-size: 2rem;
      font-weight: 400;
      margin: 0 0 1.5rem;
    }
    
    h2 {
      color: #b4e5ff;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
}

.section-header {
  color: rgb(34, 114, 206);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: $margin-15;
  margin-top: $margin-50;
}

@media screen and (min-width: $desktop-xl) {
  .hero-image-container {
    flex-direction: row-reverse;
    max-width: 1439px;
    max-height: 417px;
    margin-bottom: 93px;

    .hero-image-text {
      display: inline-block;
      height: 417px;
      width: 544px;
      padding: 106px 112px 147px;

      h1 {
        text-align: left;
      }
    }
      
    .hero-image {
      max-width: calc(100vw - 544px);
      height: 417px;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $desktop-xl - 1) {
  .hero-image-container {
    flex-direction: column;
    margin-bottom: 26px;

    .hero-image-text {
      max-height: 181px;
      width: 100%;
      padding: 30px 149px;

      h1 {
        font-size: 1.875rem;
        padding: 0 50px;
      }
      
      h2 {
        text-align: center;
      }
    }

    .hero-image {
      max-height: 430px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet - 1) {
  .hero-image-container {
    flex-direction: column;
    margin-bottom: 37px;

    .hero-image-text {
      width: 100%;
      padding: 24px 2px;

      h1, h2 {
        text-align: center;
        padding: 0 30px;
        margin-bottom: 1rem;
      }
    }

    .hero-image {
      max-height: 424px;
      width: 100%;
    }
  }

  .section-header {
    margin-top: $margin-30;
  }
}
