@import "../tooltip/tooltip.module.scss";

.content {
  overflow-y: auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
