@import '../../styles/variables.scss';

.chapter-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 3.5rem;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #D6D7D9;
}

.chapter-nav-primary-list {
    max-width: 1440px;
    color: white;

    .inactive-section {
        border-right: solid 2px #eee;

        .section-name {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    li:not(.active):not(.chapter-nav-active-section):hover {
        .section-name {
            font-weight: $semibold;
        }
    }
}

.chapter-nav-overview {
    background-color: #555;
    border-right: solid 2px #eee;

    i {
        margin-right: 1rem;
    }

    &:hover {
        background-color: #666;
    }
}

.menu-open .chapter-nav-overview {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu-up {
    display: none;
}

.menu-open .menu-up {
    display: inline-block;
}

.menu-open .menu-down {
    display: none;
}

.chapter-nav-revenue {
    background-color: #0A2F5A;

    &:hover {
        background-color: #082548;
    }
}

.chapter-nav-spending {
    background-color: #00796B;

    &:hover {
        background-color: #005E56;
    }
}

.chapter-nav-deficit {
    background-color: #B3532D;

    &:hover {
        background-color: #9F4224;
    }
}

.chapter-nav-debt {
    background-color: #4A0072;

    &:hover {
        background-color: #3B005B;
    }
}

.chapter-nav .chapter-nav-trigger {
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    width: 40px;
    align-self: flex-end;
    margin: 5px 1rem 11px 5px;
    padding: 4px 6px;
    color: white;
}

.chapter-nav ul {
    list-style-type: none;
    margin: 5px 1rem;
    padding: 0;
}

.chapter-nav li {
    padding: 0;
    cursor: pointer;

    .section-name {
        color: white;
        font-size: 0.875rem;
    }
}

.chapter-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    line-height: 3rem;
    overflow: hidden;
    opacity: 1;
    transition: height 0.3s ease;

    .section-name {
        color: white;
        font-size: 0.875rem;
    }
}

.chapter-nav.menu-open li a {
    height: 3rem;
}

.chapter-nav li.active a {
    height: 3rem;
    font-weight: bold;
}


.chapter-nav li.active a, .chapter-nav li:hover a{
    opacity: 1;
}

.chapter-nav-active-list {
    height: 100%;

    .chapter-nav-deficit li {
        max-width: 33%;
    }
}

@media only screen and (min-width: 990px) {
    .chapter-nav {
        min-height: auto;
        height: 3rem;
    }

    .chapter-nav button {
        display: none;
    }

    .menu-open .chapter-nav-overview {
        border-bottom: none;
    }

    .chapter-nav ul {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .chapter-nav li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chapter-nav li:last-of-type {
        border-right: none;
    }

    .chapter-nav li a, .chapter-nav li.active a {
        width: 100%;
        line-height: normal;

        .section-name {
            margin: 0 5px;
        }
    }

    .chapter-nav-active-list {
        max-width: calc(1400px - 22.5%);

        .chapter-nav-deficit:not(:last-of-type) {
            max-width: 33.3%;
        }

        .chapter-nav-deficit:last-of-type {
            max-width: 33.4%;
        }

        li:not(.chapter-nav-deficit) {
            max-width: 25%;
        }

        .active-section:not(:last-child) {
            border-right: solid 2px rgba(238, 238, 238, 0.3);
        }
    }

    .chapter-nav-active-section + li {
        border-left: solid 2px #eee;
    }

    .chapter-nav-primary-list {
        .inactive-section {
            .section-name {
                text-transform: uppercase;
            }
        }

        .li:not(.chapter-nav-subpages) {
            width: 130px;
        }
    }
}

@media only screen and (max-width: 989px) and (min-width: 660px) {
    .chapter-nav {
        min-height: auto;
        height: 3rem;
    }

    .chapter-nav button {
        display: none;
    }

    .menu-open .chapter-nav-overview {
        border-bottom: none;
    }

    .chapter-nav ul {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .chapter-nav li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chapter-nav.chapter-nav-deficit li {
        width: 33%;
    }

    .chapter-nav li:last-of-type {
        border-right: none;
    }

    .chapter-nav li a, .chapter-nav li.active a {
        height: auto;
        text-align: center;
        line-height: normal;
    }

    .chapter-nav-active-list {
        max-width: calc(990px - 22.5%);

        li {
            padding: 0 5px;
        }
    }

    .chapter-nav-primary-list {
        .inactive-section {
            max-width: 12.5%;
            min-width: 85px;

            .section-name {
                max-width: 80%;
            }
        }

        .chapter-nav-overview {
            max-width: 45px;
            min-width: 45px;

            .section-name {
                display: none;
            }
        }
    }
}
