@import "../../styles/variables.scss";

.main-container {
  position: fixed;
  height: 100%;
  z-index: 10;

  .section-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      margin: 10px;
      color: #fff;
      border-radius: 15px;
      font-size: 1rem;

      &.active {
        font-weight: bold;
        color: #fff;
      }

      &:not(.active) {
        background-color: #eaeaea;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    .labelContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 2s, opacity 2s linear;
    }

    .before-arrow {
      top: 10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: solid 10px;
      right: 100%;
    }

    .label {
      height: 40px;
      padding: 8px 10px;
      color: #fff;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: bold;
      white-space: nowrap;
    }

    .showLabel .labelContainer, .circle:hover .labelContainer {
      opacity: 1;
      visibility: visible;
      transition: opacity 200ms linear;
    }

  }
}

@media screen and (min-width: $tablet) {
  .main-container {
    left: 10px;

    .focused {
      box-shadow: 0 0 0 2px #888;
    }
  }
}

@media screen and (max-width: $tablet - 1) {
  .main-container {
    right: 0;
    width: 45px;

    .section-container {
      .circle {
        height: 23px;
        width: 23px;
        font-size: 0.656rem;
      }
    }

    .before-arrow {
      border-left: solid 10px;
      left: 100%
    }

    .label {
      right: 60px;
    }
  }
}




