@import "../../styles/variables";

$col-padding: 15px;

.page-footer {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  .content {
    padding: 3rem 0 4rem;

    .title {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.24;
      letter-spacing: normal;
      margin-bottom: 0.5rem;
      color: #555;
    }

    a {
      color: $legacyBlue;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.33;
      letter-spacing: 0.2px;
      margin-top: 0;
      margin-bottom: 2rem;
    }

    .social .contents a {
      padding-right: 8px;
    }

    .our-sites {
      font-size: 0.9375rem;

      div {
        display: flex;
        flex-direction: column;
      }

      a {
        margin-bottom: .5rem;
        font-weight: 300;
      }
    }
  }
}

@media (min-width: $desktop) {
  .page-footer .content {

    .social {
      border-left: 1px solid #ccc;
      padding: 0 $col-padding;
    }

    .logo {
      text-align: center;

      svg {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: $desktop - 1) {
  .page-footer .content {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;

    .logo {
      padding-bottom: 2rem;
    }

    .our-sites {
      padding-bottom: 2rem;
    }

    .social {
      p {
        margin-bottom: 1rem;
      }

      .contents {
        margin-bottom: 2rem;
      }
    }
  }
}


@media (max-width: $tablet - 1) {
  .page-footer .content {
    .social {
      border-top: 1px solid #ccc;
      padding-top: 30px;
    }
  }
}
