@import "../../styles/variables";

.site-footer {
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  color: #dbdbdb;
  background-color: #262626;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  a,
  div {
    color: #dbdbdb;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: $tablet - 1) {
  .site-footer .content {
    flex-direction: column;
    padding: 25px;
    text-align: center;
    align-items: center;

    .note {
      max-width: 220px;
      text-align: center;
    }
  }
}

@media screen and (min-width: $desktop-xl) {
  .site-footer .content {
    max-width: 1140px;
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl - 1) {
  .site-footer .content {
    max-width: 940px;
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .site-footer .content {
    max-width: 720px;

    .note {
      max-width: 220px;
      text-align: right;
    }
  }
}



