@import "src/styles/variables.scss";

$chartBorder: thin solid;

.bar-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;

  & > * {
    padding-top: 1rem;
  }

  .label {
    flex-basis: 20%;
    padding-right: 0.5rem;
    border-right: $chartBorder;
  }

  .bars {
    flex-basis: 75%;

    &:nth-child(2) {
      border-top: $chartBorder;
    }

    &:nth-last-child(2) {
      border-bottom: $chartBorder;
    }

    .outlay-bar {
      display: inline-block;
      background: purple;
    }

    .obligated-bar {
      display: inline-block;
      background: pink;
    }

    .unobligated-bar {
      display: inline-block;
      background: lavender;
    }

    .bar-labels {
      display: flex;
      justify-content: space-between;
      font-size: 0.75rem;
      margin: 0 0.25rem;

      .outlay-label {
        min-width: 4rem;
        text-align: left;
      }

      .obligated-label {
        min-width: 5rem;
        text-align: center;
      }

      .unobligated-label {
        min-width: 6rem;
        text-align: right;
      }
    }
  }

  .budget {
    flex-basis: 5%;
    text-align: right;
    white-space: nowrap;
    border-left: $chartBorder;
  }
}
