@import "src/styles/variables.scss";

$chart-border: thin solid;
$label-width: 11.5rem;
$budget-width: 4rem;

.bar-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;

  & > * {
    padding-top: 1rem;
  }

  .label {
    flex-basis: $label-width;
    padding-right: 0.5rem;
    border-right: $chart-border;
  }

  .bars {
    &:nth-child(2) {
      border-top: $chart-border;
    }

    &:nth-last-child(2) {
      border-bottom: $chart-border;
    }

    .outlay-bar {
      display: inline-block;
      background: darken($covidColor, 50%);
    }

    .obligated-bar {
      display: inline-block;
      background: $covidColor;
    }

    .unobligated-bar {
      display: inline-block;
      background: lighten($covidColor, 50%);
    }

    .bar-labels {
      display: flex;
      justify-content: space-between;
      font-size: 0.75rem;
      margin: 0 0.25rem;

      .outlay-label {
        min-width: 4rem;
        text-align: left;
      }

      .obligated-label {
        min-width: 5rem;
        text-align: center;
      }

      .unobligated-label {
        min-width: 6rem;
        text-align: right;
      }
    }
  }

  .budget {
    flex-basis: $budget-width;
    text-align: right;
    white-space: nowrap;
    border-left: $chart-border;
  }
}

@media (min-width: $desktop-xl) {
  .bars {
    flex-basis: calc(950px - #{$label-width} - #{$budget-width});
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl - 1) {
  .bars {
    flex-basis: calc(#{$desktop-mcw} - #{$label-width} - #{$budget-width});
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .bars {
    flex-basis: calc(#{$tablet-mcw} - #{$label-width} - #{$budget-width});
  }
}

@media (max-width: $tablet - 1) {
  .bars {
    flex-basis: calc(
      100% - #{$label-width} - #{$budget-width}
    );
  }
}
