@import "../../../styles/variables";

.heading {
    font-size: 1.17rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
    text-transform: uppercase;
    text-align: left;
}

.tile {
    .svgImg {
	height: 62px;
	margin: 0 auto 1rem auto;
	display: block;
	width: 50%;
    }

    .svgImgAPI {
	height: 62px;
	margin: 0 auto 1rem auto;
	display: block;
	width: 50%;
    }

    .text {
	text-align: center;
	width: auto;
    }

    .title {
	font-size: 1.5rem;
	height: 52px;
	text-align: center;
    }

    h1.title {
	font-weight: 600;
    }

    .titleAPI {
	font-size: 1.5rem;
	font-weight: 600;
	height: 52px;
	text-align: center;
	color: #4a4a4a;
    }
    
    h1 {
	color: $legacyBlue;
    }

    p.title {
	font-size: 2em;
	height: auto;
	margin-top: 0;
    }

    &:hover h1.title {
	text-decoration: underline;
    }

    .description {
	font-size: 1.125rem;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	margin-bottom: 2rem;
	text-align: center;
    }

    .descriptionLink {
	color: $legacyBlue;
	font-size: 1.125rem;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-bottom: 2rem;
	text-align: center;

	&:hover {
	    text-decoration: underline;
	}
    }

    
    

}

@media (max-width: $desktop - 1) {
    .title {
	text-align: center;
    }

    .tile-row {
	padding-top: $margin-20;
    }
}

@media (max-width: $tablet - 1) {
    .heading {
	margin-top: 0 !important;
    }

    .title {
	text-align: center;
	margin-top: 0;
    }

    .tile-row {
	border-top: 1px solid #dddddd;

	.description {
	    font-size: .875rem;
	    text-align: left;
	    font-weight: 100;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: normal;
	    color: #4a4a4a;
	    margin-bottom: 2rem;
	}

	.descriptionLink {
	    font-size: .875rem;
	};

	.tile {
	    .svgImg {
		float: left;
		margin-bottom: 0;
		width: 20%;
	    }

	    .svgImgAPI {
		float: left;
		margin-bottom: 0;
		width: 20%;
	    }

	    .title {
		font-size: 1rem;
		height: 100%;
		text-align: left;
	    }

	    .titleAPI {
		font-size: 1rem;
		height: 100%;
		text-align: left;
	    }
	}
    }
}
