@import "../../styles/variables";

.toggle-container {
  display: flex;
  align-items: center;

  .toggle-label-active {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $darkGrey;
    margin: 0.5rem 0 0.5rem;
    padding-bottom: 4px;
    font-weight: $semibold;
    cursor: pointer;
  }

  .toggle-label-inactive {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $darkGrey;
    margin: 0.5rem 0 0.5rem;
    padding-bottom: 4px;
    font-weight: $regular;
    opacity: 0.7;
    cursor: pointer;
  }
    
  .toggle-switch-focused {
    background-color: #4D90FE
  }
}

@media (max-width: $phone) {
  .toggle-container {
    justify-content: center;
  }
  .toggle-label-active, .toggle-label-inactive{
    white-space: nowrap;
  }
}
